<?xml version="1.0"?>
<launch>

    <arg name="packml_stats_location" default="$(find packml_stats_loader)/config/packml_stats.bag" doc="Location to save and load packml stats from"/>
    <arg name="load_packml_stats" default="true" doc="Flag to load stats or not"/>
    <arg name="save_stats_rate" default="0.1" doc="Rate to write stats to disk in Hz. A value of 0 or less will not save at all"/>

    <node name="packml_stats_loader" pkg="packml_stats_loader" type="packml_stats_loader" output="screen">
        <param name="packml_stats_location" value="$(arg packml_stats_location)"/>
        <param name="load_packml_stats" value="$(arg load_packml_stats)"/>
        <param name="save_stats_rate" value="$(arg save_stats_rate)"/>
        <remap from="/packml_stats_loader/get_stats" to="/packml_ros_node/packml/get_stats"/>
        <remap from="/packml_stats_loader/load_stats" to="/packml_ros_node/packml/load_stats"/>
    </node>

    <include file="$(find packml_ros)/launch/packml_ros.launch"/>

</launch>
